header {
  max-width: 80ch;

  padding: 0 0 1em 0;

  border-width: 5px;
  border-style: dashed;
  border-top: 0;
  border-radius: 0 0 1em 1em;

  margin: 0 auto;
  margin-bottom: 1em;
}

header .site-title {
  font-family: bungeeshade;
  font-size: 3rem;
  line-height: 1.2;
  padding: .2em;
  margin-bottom: 1rem;
}

header ul {
  padding: 0;
  padding-right: 2em;
  margin: 0;
  background-color: #111;
  color: white;

  display: flex;
  justify-content: flex-end;

  box-shadow: 5px 0 black, -5px 0 black;
}

header li {
  font-size: 1.5em;
  font-family: "saira-stencil";
  padding-left: .8em;
  padding-right: .8em;
  border-left: 4px solid white;
}

header li:last-child {
  border-right: 4px solid white;
}

header li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
