:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: 'bungeeshade';
  src: url('/fonts/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'caesar-dressing';
  src: url('/fonts/CaesarDressing-Regular.ttf') format('truetype');
}

body {
  font-family: var(--system-ui);
  color: #333;

  margin: 0;
}

a {
  text-decoration-style: dashed;
}


main {
  max-width: 80ch;
  padding: 1em;
  border: 1px solid black;
  margin: 0 auto;
}

footer {
  min-height: 80px;
  border: 1px double black;
  border-bottom: 0;

  max-width: 80ch;
  margin: 2em auto 0;
}

