:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: 'bungeeshade';
  src: url('/fonts/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'saira-stencil';
  src: url('/fonts/SairaStencilOne-Regular.ttf') format('truetype');
}

body {
  font-family: var(--system-ui);
  color: #333;

  margin: 0;
}

a {
  text-decoration-style: dashed;
}

main {
  max-width: 80ch;
  padding: 1em;
  border-width: 5px;
  border-style: dashed;
  border-radius: 1em;
  margin: 0 auto;
}

main.index h2 {
  font-family: "saira-stencil";
}

main.index h3 {
  font-family: "saira-stencil";
}

footer {
  min-height: 80px;
  border: 1px double black;
  border-bottom: 0;

  max-width: 80ch;
  margin: 2em auto 0;
}

ol.posts span.date {
  font-family: "saira-stencil";
  font-size: 1.2em;
  padding: .2em;
}

ol.posts li {
  display: flex;
  align-items: center;
}

footer {
  padding: 1em;

  border-width: 5px;
  border-style: dashed;
  border-radius: 1em;
}
