:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: 'bungeeshade';
  src: url('/fonts/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'saira-stencil';
  src: url('/fonts/SairaStencilOne-Regular.ttf') format('truetype');
}

body {
  font-family: var(--system-ui);
  color: #333;

  margin: 0;
}

h1 {
  text-wrap-style: balance;
  text-align: center;
}

a {
  text-decoration-style: dashed;
}

p.postDate {
  text-align: center;
}

ul.tagsList {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  column-gap: .5em;
}

ul.tagsList li:before {
  content: '#';
}

main {
  max-width: 80ch;
  padding: 1em;
  margin: 0 auto;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

main.index h2 {
  font-family: "saira-stencil";
}

main.index h3 {
  font-family: "saira-stencil";
}

footer {
  min-height: 80px;
  border: 1px double black;
  border-bottom: 0;

  max-width: 80ch;
  margin: 2em auto 0;
}

ol.posts span.date {
  font-family: "saira-stencil";
  font-size: 1.2em;
  padding: .2em;
}

ol.posts li {
  display: flex;
  align-items: center;
}

footer {
  padding: 1em;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
