<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog about devops, working in tech, movies, sports, etc">

  <title>Cats on container</title>

  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">

  <link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="Cats on container">
</head>

<body>

<header>
  <div class="site-title">cats on container</div>
  <nav>
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/feed/feed.xml">Feed</a></li>
    </ul>
  </nav>
</header>

<main>

{{ content | safe }}

</main>

</body>
</html>
